<%= form_with(model: [@placement.dragon_race, @placement], local: true) do |form| %>
  <% if placement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(placement.errors.count, "error") %> prohibited this placement from being saved:</h2>
      <ul>
        <% placement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :participant %>
    <%= form.text_field :participant %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
