<h1>Placements for <%= @dragon_race.name %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Participant</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
    <% @dragon_race.placements.each do |placement| %>
      <tr>
        <td><%= placement.participant %></td>
        <td><%= placement.position %></td>
        <td><%= link_to 'Show', dragon_race_placement_path(@dragon_race, placement), class: 'btn btn-info' %></td>
        <% if current_shopper || current_vendor %>
          <td><%= link_to 'Edit', edit_dragon_race_placement_path(@dragon_race, placement), class: 'btn btn-secondary' %></td>
          <td><%= button_to 'Delete', dragon_race_placement_path(@dragon_race, placement), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_shopper || current_vendor %>
  <%= link_to 'New Placement', new_dragon_race_placement_path(@dragon_race), class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Back to Dragon Race', dragon_race_path(@dragon_race), class: 'btn btn-secondary' %>
